.App {
  text-align: center;
}

.Nav {
  padding: 1rem;
  background-color: lightblue;
}

.nav-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.members-link:hover {
 font-weight:600;
 text-decoration: underline;
}
.todo-link:hover {
 font-weight:600;
 text-decoration: underline;
}
.teams-link:hover {
  font-weight:600;
  text-decoration: underline;
}

table {
  border: 1px solid black;
}

th {
  text-decoration: underline;
}

tr {
  text-align: left;
}

.Members {
  text-align: center;
}