.App {
  text-align: center;
}

.Main {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.Nav {
  padding: 1rem;
  background-color: lightblue;
}

.nav-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.link:hover {
  font-weight:600;
  text-decoration: underline;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
  padding: .5rem;
}

th {
  background-color: lightblue;
}

ul { 
  display:inline-block; 
  text-align: left;
}

input {
  margin: 0.5rem;
}

.Todo {
  padding: 2rem;
}

h3 {
  margin-bottom: 0;
  text-decoration: underline;
}

p {
  margin: 0 5rem 0 5rem;
}

.todo-buttons {
  padding: .25rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

button {
  margin-right: .5rem;
}

