.App {
  text-align: center;
}

.Main {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.Nav {
  padding: 1rem;
  background-color: lightblue;
}

.nav-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.link:hover {
  font-weight:600;
  text-decoration: underline;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
  padding: .5rem;
}

th {
  background-color: lightblue;
}

li span {
  position: relative;
}

ul { 
  display:inline-block; 
}

li { 
  margin: 1rem;
}

.Todo {
  padding: 2rem;
}